<div>
<label>Please swipe your RFID card</label>
<!--
<%= link_to 'List', attendances_path %>
-->
</div>

<input id="swipe_input" autofocus="autofocus" type="password" >

<br/>to attend the workshop:
<%= render 'form' %>


<script>
 document.getElementById("swipe_input").onkeydown = function(evt) {
     evt = evt || window.event;
     if (evt.keyCode == 13) {
        // submit your form
        s = document.getElementById("swipe_input").value
        
        sName = 'el'
        
        confirm("You are " + s);
     }
   }
</script>
