SCHEDULE

<hr>
<strong>
<div style="text-align: center;"><strong><span style="text-decoration: underline;">SCHEDULE OF EVENTS</span></strong></div>
</strong>
<div style="text-align: left;">
<div style="text-align: center;">(Tentative, will be confirmed closer to the event)<br>
<br>
</div>
</div>
<table cellspacing="0" style="text-align: left;" align="left">
    <tbody>
        <tr>
            <td colspan="2" style="background-color: rgb(191, 191, 191);"><strong>&nbsp;Monday, December 2, 2013</strong>&nbsp;</td>
        </tr>
        <tr>
            <td style="">&nbsp;10:00 AM &nbsp;-12:00 PM</td>
            <td style="">Vendor Registration &amp; Set-up<span class="Apple-tab-span" style="white-space:pre">	</span>&nbsp;</td>
        </tr>
        <tr>
            <td style="">&nbsp;1:00 PM - 5:00 PM</td>
            <td style="">Vendor Show Opens</td>
        </tr>
        <tr>
            <td colspan="2" style="background-color: rgb(191, 191, 191);"><strong>&nbsp;Tuesday, December 3, 2013</strong></td>
        </tr>
        <tr>
            <td style="">&nbsp;7:00 AM - 5:00 PM</td>
            <td style="">Vendor Show Open</td>
        </tr>
        <tr>
            <td style="">&nbsp;10:15 AM - 10:45 AM</td>
            <td style="">AM Break</td>
        </tr>
        <tr>
            <td style="">&nbsp;3:45 PM - 4:15 PM&nbsp;</td>
            <td style="">PM Break</td>
        </tr>
        <tr>
            <td colspan="2" style="background-color: rgb(191, 191, 191);">&nbsp;<strong>Wednesday, December 4, 2013</strong></td>
        </tr>
        <tr>
            <td style="">&nbsp;7:00 AM - 12:00 PM</td>
            <td style="">Vendor Registration &amp; Set-Up&nbsp;</td>
        </tr>
        <tr>
            <td style="">&nbsp;1:00 PM - 5:00 PM</td>
            <td style="">Vendor Show Open&nbsp;</td>
        </tr>
        <tr>
            <td colspan="2" style="background-color: rgb(191, 191, 191);">&nbsp;<strong>Thursday, December 5, 2013</strong></td>
        </tr>
        <tr>
            <td style="">&nbsp;7:00 AM - 5:00 PM</td>
            <td style="">Vendor Show Open&nbsp;</td>
        </tr>
        <tr>
            <td style="">&nbsp;10:15 AM - 10:45 AM</td>
            <td style="">AM Break&nbsp;</td>
        </tr>
        <tr>
            <td style="">&nbsp;3:45 PM - 4:15 PM</td>
            <td style="">PM Break&nbsp;</td>
        </tr>
        <tr>
            <td colspan="2" style="background-color: rgb(191, 191, 191);">&nbsp;<strong>Friday, December 6, 2013</strong></td>
        </tr>
        <tr>
            <td style="">&nbsp;7:00 AM - 11:15 AM</td>
            <td style="">Vendor Show Open&nbsp;</td>
        </tr>
        <tr>
            <td style="">&nbsp;1:00 PM - 3:00 PM<span class="Apple-tab-span" style="white-space:pre">					</span></td>
            <td style="">Vendor Strike Time&nbsp;<span class="Apple-tab-span" style="white-space:pre">						</span></td>
        </tr>
    </tbody>
</table>
