.eljumbo{
	height: 100px;
	width: auto;
	}
.elfloat{
	height: 3em;
	
	}
.elright{
	position: absolute !important; 
	right: 0px;
	}
.elright2{
	position: absolute !important; 
	right: 200px !important;
	}
.ellink_container a{
	margin: .1em;
	padding: .3em;
	display: inline-block;
	background-color: cyan;
	border-radius: 5px;
	}