body{
	background-color: blue !important;
	}
.container{
	background-color: white;
	max-height: 1500px !important;
	}
.eljumbo{
	height: 100px;
	width: auto;
	}
.elfloat{
	height: 3em;	
	}
.elright{
	position: absolute !important; 
	right: 0px;
	}
.elright2{
	position: absolute !important; 
	right: 200px !important;
	}
.ellink_container a{
	margin: .1em;
	padding: .3em;
	display: inline-block;
	}
.ellink_container a:after{
	content:' | ';
		padding-left: 1em;
	}
.elscroll{
	overflow-y: -webkit-marquee;
	}
.navbar-collapse{
	background-color: black !important;
	}
#sidebar{
	z-index: 1;
	}
.navbar-header{
	background-color: black;
	}
footer{
	background-color: white;
	border-top: 20px solid blue;
	bottom: 0px;
	padding: 0px;
	margin: 0px;
	}
#myCarousel{
	height: 100px;
	}
.carousel-inner > .item > img, 
.carousel-inner > .item > a > img{
 /* use this, or not */
margin: auto;
}