<!DOCTYPE html>
<html lang="en">
<head>
  <title>Conference system</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/favicon.ico">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="jumbotron.css" rel="stylesheet">
  <link href="elstyle.css" rel="stylesheet">
  
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
        
        
        
        
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Workforce Professional Development Academy 2014</a>
          
          
                    <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>

          
        </div>
        <div class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" role="form">
            <div class="form-group">
              <input type="search" placeholder="Search for" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Search</button>
          </form>

			<!--
          <form class="navbar-form navbar-right" role="form">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
          -->
          
        </div><!--/.navbar-collapse -->
      </div>
    </div>

       <div class="col-xs-6 col-sm-3 sidebar-offcanvas elright" id="sidebar" role="navigation">
          <div class="list-group">
            <a href="#" class="list-group-item">Link</a>
            <a href="https://www.regonline.com/builder/site/tab3.aspx?EventID=1263433" class="list-group-item active">Florida Workforce Development Association</a>
            <a href="#" class="list-group-item">Registration</a>
            <a href="#" class="list-group-item">Exhibitor map</a>
            <a href="#" class="list-group-item">Calendar</a>
            <a href="#" class="list-group-item">Schedule of events</a>

          </div>
        </div><!--/span-->	
        
      <div class="container">
      
      
      
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container" style="position: relative;">
        <h2>Conference / Workshop Bulletin Board</h2>
        <p>Some marketing stuff here</p>
        <img class="eljumbo elright2" src="Conference Logo1-H.jpg">
        <p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>

      </div>

    </div>



      <div class="masthead">
        <ul class="nav nav-justified">
          <li class="active"><a href="/attendances/new">Home</a></li>
          <li><a href="/workshops">Workshops</a></li>
          <li><a href="/orgs">Organizations</a></li>
          <li><a href="/attendees">Attendees</a></li>
          <li><a href="/surveys/new">Surveys</a></li>
          <li><a href="/messages/new">Messages</a></li>
		<li><a href="/orgs">Exhibitors</a></li>
		<li><a href="/orgs">Confirm registration</a></li>
		<li><a href="/orgs">Update schedule</a></li>
		<li><a href="/orgs">Maintenance request</a></li>
		<li><a href="/orgs">Schedule a Demo</a></li>                    
        </ul>
      </div>
      
<div style="height: 400px;">
		<%= yield %>
		
	
		
</div>
      
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Conference Updates</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Sponsor ads</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4 ellink_container">
          <h2>Problems? Messages?</h2>
        <a href="#">Hotel</a>
        <a href="#">Electrical</a>
        <a href="#">Schedule a demo</a>
        <a href="">Late registration</a>
        <a href="">Audio Visual</a>
        <a href="">Internet</a>
        <a href="">Booth registration</a>
        <a href=""></a>
                    
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>



      <hr>

      <footer>
      Terms of Use | Your Privacy Rights
        <p><img class="eljumbo elfloat" src="atlas_logo_100.jpg">Copyright © 2014 - Complete Technology Solutions. All Rights Reserved.  ATLAS is a trademark of Complete Technology Solutions </p>
      </footer>
    </div> <!-- /container -->


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</body>
</html>

<style>
</style>